

<!DOCTYPE html>
<html class="writer-html4" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Component spec advanced topics &mdash; Component SDK beta documentation</title>
  

  
  <link rel="stylesheet" href="../_static/css/my_theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/copybutton.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript">
          var DOCUMENTATION_OPTIONS = {
              URL_ROOT:'../',
              VERSION:'beta',
              LANGUAGE:'None',
              COLLAPSE_INDEX:false,
              FILE_SUFFIX:'.html',
              HAS_SOURCE:  true,
              SOURCELINK_SUFFIX: '.txt'
          };
      </script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/clipboard.min.js"></script>
        <script type="text/javascript" src="../_static/copybutton.js"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Inputs and outputs" href="component-spec-topics/inputs-and-outputs.html" />
    <link rel="prev" title="How to use component spec schema in vscode" href="use-component-spec-schema-in-vscode.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../index.html" class="icon icon-home" alt="Documentation Home"> Component SDK
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Table of Contents</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../overview.html">Overview</a></li>
<li class="toctree-l1"><a class="reference internal" href="../getting_started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../concepts.html">Concepts</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../components.html">Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="component-spec-definition.html">Definition of component spec</a></li>
<li class="toctree-l2"><a class="reference internal" href="use-component-spec-schema-in-vscode.html">How to use component spec schema in vscode</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Component spec advanced topics</a><ul>
<li class="toctree-l3"><a class="reference internal" href="component-spec-topics/inputs-and-outputs.html">Inputs and outputs</a></li>
<li class="toctree-l3"><a class="reference internal" href="component-spec-topics/running-environment.html">Environment</a></li>
<li class="toctree-l3"><a class="reference internal" href="component-spec-topics/additional-includes.html">Additional includes</a></li>
<li class="toctree-l3"><a class="reference internal" href="component-spec-topics/code-snapshot.html">Code snapshot</a></li>
<li class="toctree-l3"><a class="reference internal" href="component-spec-topics/component-build.html">Component build</a></li>
<li class="toctree-l3"><a class="reference internal" href="component-spec-topics/ignore-files.html">Ignore files when creating snapshot</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="command_component.html">Command Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="parallel_component.html">Parallel Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="hdi_component.html">HDInsight Component</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../CHANGELOG.html">Change Log</a></li>
<li class="toctree-l1"><a class="reference internal" href="../faq.html">Frequently Asked Questions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../sdk_reference.html">SDK Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="../links.html">Useful Links</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Component SDK</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../components.html">Components</a> &raquo;</li>
        
      <li>Component spec advanced topics</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/component-spec-topics.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="component-spec-advanced-topics">
<h1>Component spec advanced topics<a class="headerlink" href="#component-spec-advanced-topics" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="component-spec-topics/inputs-and-outputs.html">Inputs and outputs</a><ul>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/inputs-and-outputs.html#optional-inputs-and-parameters">Optional Inputs and Parameters</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/inputs-and-outputs.html#sample-component">Sample component</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="component-spec-topics/running-environment.html">Environment</a><ul>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/running-environment.html#using-conda">Using conda</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/running-environment.html#using-docker">Using docker</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="component-spec-topics/additional-includes.html">Additional includes</a><ul>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/additional-includes.html#notes">Notes</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/additional-includes.html#sample-component">Sample component</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="component-spec-topics/code-snapshot.html">Code snapshot</a><ul>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/code-snapshot.html#examples">Examples</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="component-spec-topics/component-build.html">Component build</a><ul>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/component-build.html#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/component-build.html#use-scenarios">Use scenarios</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/component-build.html#examples">Examples</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="component-spec-topics/ignore-files.html">Ignore files when creating snapshot</a><ul>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/ignore-files.html#shared-amlignore-file">Shared .amlignore file</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/ignore-files.html#set-a-default-shared-amlignore-file">Set a default shared .amlignore file</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/ignore-files.html#ignore-files-in-subdirectory">Ignore files in subdirectory</a></li>
<li class="toctree-l2"><a class="reference internal" href="component-spec-topics/ignore-files.html#sample-component">Sample component</a></li>
</ul>
</li>
</ul>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="component-spec-topics/inputs-and-outputs.html" class="btn btn-neutral float-right" title="Inputs and outputs" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="use-component-spec-schema-in-vscode.html" class="btn btn-neutral float-left" title="How to use component spec schema in vscode" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2020, microsoft

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>